{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/horizantalTable.css'%}"/>
    {% csrf_token %}

  

  
 <table class="content-table">
  <thead>
    <tr>
      <th>Hospital Name</th>
      <th>ICU Beds</th>
      <th>ICU Ventilator Beds</th>
      <th>Oxygen Beds</th>
      <th>Normal Beds</th>
      <th>Contact Info</th>
    </tr>
  </thead>




  <tbody>
  {% for i in data2 %}
    <tr>
      <td>{{i.0}}</td>
      <td>{{i.1}}</td>
      <td>{{i.2}}</td>
      <td>{{i.3}}</td>
      <td>{{i.4}}</td>
      <td>{{i.5}}</td>
      <td>{{i.6}}</td>
      <td>{{i.7}}</td>
      <td>{{i.8}}</td>
    </tr>  
  {% endfor %}
  </tbody>
</table> 



{% comment %} {% endblock %} {% endcomment %}

