{% extends 'base2.html' %}
{% block content %}
<br><br><br>

{% csrf_token %}

{% comment %} <div class="mapouter" align="right" style="float: right;"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="{{data.8}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">how to add google maps to a website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div> {% endcomment %}

<style>

.ratesAndReviews{
  float:left;
  margin-left:25px;
  margin-bottom:25px;
}


img{
  float:left;
  width:45%;
  margin:25px;
}




.content-table {
    float:right;
    width:45%;
    border-collapse: collapse;
    margin:25px;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #FFFC00;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #999;
    text-align: center;
}

/* LAST LINE */
.content-table tbody tr:last-of-type {
    border-bottom: 4px solid #FFFC00;
}


/* EVEN ROW */
.content-table tbody tr.active-row {
    font-weight: bold;
    color: #FFF;
}
@media screen and (max-width:1080px) {

  img{
    width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
  }
  
    .content-table {
        width:95%;
        margin-left:2.5%;
        margin-right:2.5%;
        border-collapse: collapse;
      
        font-size: 0.9em;
      
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
}

</style>
<center><h1>{{data.0}}</h1></center>


<img src="/media/{{data.9}}" alt="/media/images.PNG" style="height:300px;">




<table class="content-table">
  <thead>
    <tr>
    <th>Hospital Name</th>
    <th>{{data.0}}</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>ICU Beds</td>
    <td>{{data.1}}</td>
  </tr>

    <tr>
    <td>ICU Ventilator Beds</td>
    <td>{{data.2}}</td>
  </tr>
    <tr>
    <td>Oxygen Beds</td>
    <td>{{data.3}}</td>
  </tr>
  <tr>
    <td>Normal Beds</td>
    <td>{{data.4}}</td>
  </tr>
  <tr>
    <td>Contact Info</td>
    <td>{{data.5}}</td>
  </tr>

   <tr>
    <td>Pincode</td>
    <td>{{data.6}}</td>
  </tr>
    <tr>
    <td>Address</td>
    <td>{{data.7}}</td>
  </tr>
 </tr>
    <tr>
    <td>Gmap Link</td>
    <td><a  href={{data.8}}/>click here</a></td>
  </tr>
  </tbody>

</table>





<br><br>
<div class ="ratesAndReviews">
{% for rate in rates%}
<div class="container">
<label for="file">{{rate.0}}</label><span class="fa fa-star checked"></span>
<div class="progress" style="width: 80%" !important>

    <div id="file" class="progress-bar" role="progressbar" aria-valuenow=70 aria-valuemin="0" aria-valuemax="100" style="width:{{rate.1}}%">
      <span class="sr-only">70% Complete</span>
    </div>
  </div>
</div>
  <br><br>
{% endfor %}

{% for rows in reviews %}
{{rows.0}}
<br>
{% for i in rows.1 %}
<span class="fa fa-star checked" style="color: orange"></span>
{% endfor %}

<br>
{{rows.2}}
{% endfor %}

</div>
<br>
<br>

</body>
</html>
{% endblock %}