.content-table {
	width:100%;
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
	background-color: #FFFC00;
	color: #000;
	text-align: center;
	font-weight: bold;
}

.content-table th,
.content-table td {
	padding: 12px 15px;
}


.content-table tbody tr {
	text-align: center;
	border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
	text-align: center;
	background-color: #999;
}

/* LAST LINE */
.content-table tbody tr:last-of-type {
	
	border-bottom: 4px solid #FFFC00;
}

/* EVEN ROW */
.content-table tbody tr.active-row {
	font-weight: bold;
	color: #FFF;
}

@media screen and (max-width:720px) {
	.content-table {
					width:100%;
					border-collapse: collapse;
					margin: 25px 0;
					font-size: 0.9em;
					min-width: 400px;
					border-radius: 5px 5px 0 0;
					overflow: hidden;
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}
}