* { box-sizing: border-box; }

body { font-family: sans-serif; }

.see{
  float: right;
  display: block;
  color: blue;
  text-align: center;
  padding: 0px 25px;
  text-decoration: none;
  text-decoration: underline;
  font-size: 15px;
}
.headings{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0px 12px;
  text-decoration: none;
  font-size: 22px;
}



.carousel {

  background: #EEE;
  clear: both;
}

.carousel-cell {
  width: 22%;
  height: 200px;
  margin-right: 10px;
  background: #fffc00;
  border-radius: 5px;
  counter-increment: gallery-cell;
}



 @media screen and (max-width:1080px) {
	.carousel-cell {
  width: 33%;
  height: 200px;
  margin-right: 10px;
  background: #fffc00;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
	}

@media screen and (max-width:720px) {
	.carousel-cell {
  width: 50%;
  height: 150px;
  margin-right: 10px;
  background: #fffc00;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
}