{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/horizantalTable.css'%}"/>
  

    {% csrf_token %}
<table class="content-table">
  <thead>
    <tr>
      <th>Name Of The Medical Store</th>
      <th>Name Of The Shop Owner</th>
      <th>Contact Number</th>
      <th>Pincode</th>
      <th>Address</th>
      <th>Navigation</th>

    </tr>
  </thead>


  <tbody>
  {% for i in data2 %}
    <tr>
      <td>{{i.0}}</td>
      <td>{{i.1}}</td>
      <td>{{i.2}}</td>
      <td>{{i.3}}</td>
      <td>{{i.4}}</td>
      <td><a  href={{i.5}}/>click here</a></td>
      
    </tr>  
  {% endfor %}
  </tbody>
</table>

</body>
</html> 
