{% extends 'base.html' %}
{% block content %}
<br><br><br>

{% csrf_token %}
<div class="mapouter" align="right"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="{{data.5}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">how to add google maps to a website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>

<table class="content-table">
  <thead>
    <tr>
    <th>Name Of The Medical Store</th>
    <th>{{data.0}}</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>Name Of The Shop Owner</td>
    <td>{{data.1}}</td>
  </tr>

    <tr>
    <td>Contact Number</td>
    <td>{{data.2}}</td>
    </tr>

     <tr>
    <td>Pincode</td>
    <td>{{data.3}}</td>
  </tr>
    <tr>
    <td>Address</td>
    <td>{{data.4}}</td>
  </tr>
    <tr>
    <td>Navigation</td>
    <td><a  href={{data.5}}/>click here</a></td>
  </tr>

 
  </tbody>
</table>
{% for rate in rates%}
<div class="container">
<label for="file">{{rate.0}}</label><span class="fa fa-star checked"></span>
<div class="progress" style="width: 80%" !important>

    <div id="file" class="progress-bar" role="progressbar" aria-valuenow=70 aria-valuemin="0" aria-valuemax="100" style="width:{{rate.1}}%">
      <span class="sr-only">70% Complete</span>
    </div>
  </div>
</div>
  <br><br>
{% endfor %}
{% for rows in reviews %}
{{rows.0}}
<br>
{% for i in rows.1 %}
<span class="fa fa-star checked" style="color: orange"></span>
{% endfor %}

<br>
{{rows.2}}
{% endfor %}
</body>
</html>
{% endblock %}