{% extends 'base.html' %}
{% block content %}
<br><br><br>

{% csrf_token %}
<div class="mapouter" align="right"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="{{data.4}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">how to add google maps to a website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
<table class="content-table">
  <thead>
    <tr>
    <th>Name Of The Dealer</th>
    <th>{{data.0}}</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>Contact Number </td>
    <td>{{data.1}}</td>
  </tr>   
   <tr>
    <td>Pincode</td>
    <td>{{data.2}}</td>
  </tr>
    <tr>
    <td>Address</td>
    <td>{{data.3}}</td>
  </tr>
    <tr>
    <td>Navigation</td>
    <td><a  href={{data.4}}/>click here</a></td>
  </tr>  
  </tbody>
</table>




</body>
</html>
{% endblock %}