{% extends 'base.html' %}
{% block content %}
<br><br><br>

{% csrf_token %}
<table class="content-table">
  <thead>
    <tr>
    <th>Name Of The Dealer</th>
    <th>{{data.0}}</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>Contact Number </td>
    <td>{{data.1}}</td>
  </tr>   
   <tr>
    <td>Pincode</td>
    <td>{{data.2}}</td>
  </tr>
    <tr>
    <td>Address</td>
    <td>{{data.3}}</td>
  </tr>
    <tr>
    <td>Navigation</td>
    <td>{{data.4}}</td>
  </tr>  
  </tbody>
</table>

</body>
</html>
{% endblock %}