<!DOCTYPE html>
<h4>drop down list</h4>
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  $(document).ready(function()
  {
    var $select1=$('#select1'),
        $select2=$('#select2'),
      

        $options=$select2.find('option');
 
        
        $select1.on('change',function(){
          console.log("hi")
          console.log($options)
          console.log()



          $select2.html($options.filter('[value="'+this.value+'"]'));
          
        }).trigger('change');
  }
  );
  {% comment %} .filter('[value="'+this.value+'"]') {% endcomment %}

</script> 
  </head>
{% comment %} '[value="'+this.value+'"]' {% endcomment %}
<center>

    <select id="select1">
    <option disabled selected="true">--select states--</option>
    {% for state in states %}
    <option value="{{state.state}}">{{state.state}}</option>
    {% endfor %}
  </select>

  <select id="select2">
    <option disabled selected="true">--select district--</option>
    {% for district in districts %}
    <option value="{{district.state}}">{{district.district}}</option>
    {% endfor %}
  </select>
 
</center>
</html>