<!DOCTYPE html>
<h4>drop down list</h4>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" integrity="sha512-arEjGlJIdHpZzNfZD2IidQjDZ+QY9r4VFJIm2M/DhXLjvvPyXFj+cIotmo0DLgvL3/DOlIaEDwzEiClEPQaAFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js" integrity="sha512-m7x59G4+NdYoUUKUscYq2qKkineVwmjXA/7WfXm8pukxYiFavrh9uFImpPtbmZGAnHR0rouVWWk+dgcHNurQ5g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
  $(document).ready(function()
  {
    var $select1=$('#select1'),
        $select2=$('#select2'),
        $options=$select2.find('option');
   
        $select1.on('change',function(){
          
          $select2.html($options.filter('[value="'+this.value+'"]'));
  
        }).trigger('change');
  }
  );
</script>

<script>
$(document).ready(function(){

  $("#select1").select2({
  });
  $("#select2").select2({

  });
});
</script>

  </head>
  <center>
  <select id="select1" style="width:300px">
    <option disabled selected="true">--select states--</option>
    {% for i in stateObj %}
    <option value="{{i}}">{{i.state}}</option>
    {% endfor %}
  </select>


  <select id="select2" style="width:300px">
    <option disabled selected="true">--select district--</option>
    {% for i in data1 %}
    <option value="{{i.0}}">{{i.1}}</option>
    {% endfor %}
  </select>


<h1></h1>
<input class="search" type="submit" value="search"/>
  
  </center>
</html>









