{% extends 'base.html' %}
{% block content %}
<br><br><br>
{% csrf_token %}
<center><h4>hospitals</h4></center>
<div class="carousel"
  data-flickity='{ "groupCells": true }'>
  {% for i in hosp_list %}
		<div class="carousel-cell">
    <center><h6>{{i.name}}</h6></center>
		 <a href="{% url 'hosp_list' name1=i.name st=lst.0 dt=lst.1 %}"> 
    <img src="https://source.unsplash.com/random" style="width:100%;height:300px;">
    </a>   
		</div> 
    {% endfor %}
</div>

<br>

<center><h4>Ambulances</h4></center>
<div class="carousel"
  data-flickity='{ "groupCells": true }'>
  {% for i  in ambulance_list %}
		<div class="carousel-cell">
    <center><h6>{{i}}</h6></center>
		{% comment %} <a href="{% url 'services' id1=j %}" > {% endcomment %}
    <img src="https://source.unsplash.com/random" style="width:100%;height:300px;">
    </a>   
		</div> 
    {% endfor %}
</div>

<br>

<center><h4>Oxygen Cylinders</h4></center>
<div class="carousel"
  data-flickity='{ "groupCells": true }'>
  {% for i  in oxygen_cylinder_list %}
		<div class="carousel-cell">
    <center><h6>{{i}}</h6></center>
		{% comment %} <a href="{% url 'services' id1=j %}" > {% endcomment %}
    <img src="https://source.unsplash.com/random" style="width:100%;height:300px;">
    </a>   
		</div> 
    {% endfor %}
</div>

<br>

<center><h4>Medical stores</h4></center>
<div class="carousel"
  data-flickity='{ "groupCells": true }'>
  {% for i  in medical_store_list %}
		<div class="carousel-cell">
    <center><h6>{{i}}</h6></center>
		{% comment %} <a href="{% url 'services' id1=j %}" > {% endcomment %}
    <img src="https://source.unsplash.com/random" style="width:100%;height:300px;">
    </a>   
		</div> 
    {% endfor %}
</div>

{% endblock %}