{% extends 'base.html' %}
{% block content %}
<br><br><br>

{% csrf_token %}



<table class="content-table">
  <thead>
    <tr>
    <th>Driver Name</th>
    <th>{{data.0}}</th>
  </tr>
  </thead>
  <tbody>
  
  <tr>
    <td>Vehicle Number </td>
    <td>{{data.1}}</td>
  </tr>

  <tr>
    <td>Contact Number</td>
    <td>{{data.2}}</td>
  </tr>
    <tr>
    <td>Pincode</td>
    <td>{{data.3}}</td>
  </tr>
    <tr>
    <td>Address</td>
    <td>{{data.4}}</td>
  </tr>
    <tr>
    <td>Navigation</td>
    <td><a  href={{data.5}}/>click here</a></td>
  </tr>
    
  </tbody>
</table>


<center>
{% for rate in rates%}
<div class="container">
<label for="file">{{rate.0}}</label><span class="fa fa-star checked"></span>
<div class="progress" style="width: 80%" !important>

    <div id="file" class="progress-bar" role="progressbar" aria-valuenow=70 aria-valuemin="0" aria-valuemax="100" style="width:{{rate.1}}%">
      <span class="sr-only">70% Complete</span>
    </div>
  </div>
</div>
  <br><br>
{% endfor %}
{% for rows in reviews %}
{{rows.0}}
<br>
{% for i in rows.1 %}
<span class="fa fa-star checked" style="color: orange"></span>
{% endfor %}

<br>
{{rows.2}}
{% endfor %}
</center>

</body>
</html>
{% endblock %}